{
  "interfaces": {
    "vyatta-interfaces-{{ intfType }}-v1:{{ intfType }}": [
      {
        "tagnode": "{{ intfNum }}",
        "address": [
          "{{ address }}"
        ]
      }
    ]
  }
}